body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #ccc;
	box-sizing: border-box;
	color: #fff;
}
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	width: 400px;
	height: 400px;
	position: relative;
	background: #42a7a1;
}
.card {
	display: flex;
	justify-content: center;
	flex-flow: column;
	width: 300px;
	height: 250px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.text {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	background-color: #f1ba64;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.text h2 {
	margin: 0;
	font-size: 1.2rem;
	font-weight: normal;
}
small {
	font-size: 0.85rem;
}
.rev {
	text-align: right;
}

.graph {
	padding: 10px;
	background-color: #fff;
	position: relative;
	height: 100%;
	color: #333;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.legend {
	text-align: right;
}
.views {
	margin-right: 10px;
}
.views::before {
	content: "";
	position: relative;
	display: inline-block;
	width: 10px;
	height: 2px;
	vertical-align: middle;
	margin-right: 10px;
	background-color: #fa7373;
}
.purch::before {
	content: "";
	position: relative;
	display: inline-block;
	width: 10px;
	height: 2px;
	vertical-align: middle;
	margin-right: 10px;
	background-color: #7ba2ff;
}

.data-red polyline {
	fill: none;
	stroke-width: 2;
	stroke: #fa7373;
	stroke-linecap: round;
}

.data-red,
.data-blue {
	position: absolute;
	left: 10px;
	top: 50px;
}
.data-blue polyline {
	fill: none;
	stroke-width: 2;
	stroke: #7ba2ff;
	stroke-linecap: round;
}
.line1,
.line2,
.line3 {
	width: calc(100% - 20px);
	height: 1px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.1);
}
.line1 {
	top: 30%;
}
.line2 {
	top: 50%;
}
.line3 {
	top: 70%;
}

[class^="point-"] {
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #f86d5a;
	cursor: pointer;
	z-index: 10;
}
.pointsblue div {
	background-color: #7b7dff;
}
.point-1b,
.point-1 {
	left: 6px;
	top: 43px;
}
.point-2b,
.point-2 {
	left: 47px;
	top: 9px;
}
.point-3b,
.point-3 {
	left: 87px;
	top: 20px;
}

.point-4b,
.point-4 {
	left: 127px;
	top: 8px;
}
.point-5b,
.point-5 {
	right: 116px;
	top: 35px;
}
.point-6b,
.point-6 {
	right: 76px;
	top: 45px;
}
.point-7b,
.point-7 {
	right: 36px;
	top: 16px;
}
.point-1b {
	top: 58px;
}
.point-2b {
	top: 47px;
}
.point-3b {
	top: 62px;
}
.point-4b {
	top: 52px;
}
.point-5b {
	top: 58px;
}
.point-6b {
	top: 71px;
}
.point-7b {
	top: 61px;
}

.days {
	position: absolute;
	bottom: 40px;
	width: 280px;
	display: flex;
}
.days small {
	font-size: 0.7rem;
	width: calc(100% / 7);
}
.pointsblue span,
.points span {
	position: absolute;
	left: -11px;
	top: -30px;
	background-color: #f86d5ade;
	padding: 1px 3px;
	border-radius: 5px;
	z-index: 20;
	color: #fff;
	font-size: 0.9rem;
	opacity: 0;
	transform: scale(0);
	transition: 0.15s;
}
.pointsblue span::before,
.points span::before {
	content: "";
	background-color: #f86d5ade;
	width: 7px;
	height: 7px;
	bottom: -3px;
	left: calc(50% - 3px);
	transform: rotate(45deg);
	position: absolute;
	z-index: 1;
}
.pointsblue span::before,
.pointsblue span {
	background-color: #7b7dff;
}
.pointsblue span {
	left: -8px;
}

[class^="point-"]:hover span {
	opacity: 1;
	transform: scale(1);
}
